@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-text);
  transition: all 0.2s ease;
}

.green {
  color: hsla(160, 100%, 37%, 1);
}

a:hover {
  color: hsla(160, 100%, 37%, 1);
  background-color: hsla(160, 100%, 37%, 0.1);
  border-radius: 4px;
}
